.shlide {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #FAFAFA;
    margin-bottom: 30px;
    position: relative;
}

.shlide-viewport {
  height: 160px;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
  position: relative;
}

.shlide-slider {
  left: 0px;
  /* set with js? */
  position: absolute;
  width: 100%;
  height: 100%;
}

.shlide-cell {
  position: absolute;
  margin-bottom: 0;
  /* set with js? */
  margin-right: 10px;
  margin-bottom: 10px;
  
}

.shlide-image {
  display: block;
  margin: 0 auto;
  width: 100%;
}